body{
    background-image: url("backgroundtwitter.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
}

.main-title{
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    }

fieldset{
    border: 0;
}

.container{
    margin: 24px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;


}

.form, .show-content{
    display: inline-block;
    box-sizing: border-box;
    width: 500px ;
    padding: 25px;
    vertical-align: top;
    color: #4169E1;
    font-family: "Slabo 27px";
    font-weight: 400;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 25px;
    align-items: flex-start;
}

.show-content{
    
}

.text-box {
    width: 100%;
    margin-bottom: 14px;
    }
    


.explanation{
    font-family: "Slabo 27px";
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    }

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    }

.submit-btn{
    display: block;
    margin: 12px auto;
    padding: 6px 12px;
    font-size: 20px;
    background-color: #4169E1;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}



